.details{
    display: flex;
}
.detail-container{
    padding: 0 9%;
}

.detail-img{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main-img{
    width: 99%;
    height: 100%;
    border-radius:10px 0 0 10px;
}

.smaller-img{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1%;
    justify-items: center;
    align-items: center;
}

.box-one{
    width: 100%;
    height: 100%;
    padding-left: 1%;
    border-radius: 0%;
}

.box-two{
    width: 100%;
    height: 100%;
    padding-left: 1%;
    border-radius: 0 10px 0 0;
}

.box-three{
    width: 100%;
    height: 99%;
    padding-left: 1%;
    border-radius: 0%;
}

.box-four{
    width: 100%;
    height: 99%;
    padding-left: 1%;
    border-radius: 0 0 10px 0;
}

.spot-info{
    display: flex;
    border-bottom: solid lightgray;
}

.ratings{
    padding-right: 3px;
    display: flex;
}

.star-container{
    display: flex;
}

.thestar{
    display: flex;
    padding-right: 2px;
}


.split{
    padding-right: 3px;
}

.review-count{
    padding-right: 3px;
}


.spotrevs{
    padding-bottom: 10px;
    padding-top: 10px;
}

.super{
    padding-top: 10px;
}

.super-detail{
    color: lightgray;
}

.check{
    padding-top: 10px;
}

.check-in{
    color: lightgray;
}

.cancel{
    padding-top: 10px;
    padding-bottom: 10px;
}

.hype{
    border-bottom: solid lightgray;
}

.noimg1{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(188, 188, 188);
}
.noimg2{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 10px 0 0;
    background-color: rgb(188, 188, 188);
}
.noimg3{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(188, 188, 188);
}
.noimg4{
    width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0 0 10px 0;
    background-color: rgb(188, 188, 188);
}

.link-to-create{
    text-decoration: none;
    padding: 10px;
    color: black;
}


.edit-butt{
    padding: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.edit-butt:hover{
    background-color: rgb(235, 235, 235);
}

.delete-butt{
    padding: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.delete-butt:hover{
    background-color: rgb(235, 235, 235);
}

.del-edit{
    display: flex;
    height: 25%;
}

.link-to-create{
    padding: 5px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 8px;
    border: 1px solid black;
    background-color: white;
}

.link-to-create:hover{
    background-color: rgb(235, 235, 235);
}