/* .your-spots-container{
    display: flex;
    flex-direction: column;

} */


.your-spots{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1%;
    padding-top: 3%;
}

.one-spot{
    width: 97%;
}

.myhouse{
    width: 100%;
    height: 70%;
}

.spot-inf{
    display: flex;
    flex-direction: column;
}

.hname{
    text-decoration: none;
}