/* .your-spots-container{
    display: flex;
    flex-direction: column;

} */

.myhouse{
    width: 50%;
}

.card{
    width: 100%;
}

.one-spot{
    display: flex;
    justify-content: center;
    width: 100%;
}

.spot-info{
    
}

.hname{
    text-decoration: none;
}
